@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins";
    outline: none;
}

body{
    background-color: #0D1F2D;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.separador{
    width: 2px;
    background-color: #767676;
    height: 70%;
}

/* LOGIN */

.login{
    height: 70%;
    width: 30vw;
    margin: 0 auto;
}

.login h1{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}

.login form{
    width: 100%;
    margin: 0 auto;
}

/* Campos e labels */

.login form .campos{
    position: relative;
    margin-bottom: 10%;
    width: 100%;
    height: 40px;
}

.login form .campos-senhas{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.login form .campos-senhas .campo-senha{
    width: 48%;
}

.login form label{
    position: absolute;
    bottom: 4px;
    left: 3px;
    color: #767676;
    opacity: .56;
    font-size: 1.1rem;
    transition: .4s all ease-in-out;
}

.login form input:not(input[type="submit"]){
    background: none;
    border-bottom: 2px solid #76767681;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    height: 40px;
}

.login form .campos input{
    position: absolute;
    bottom: 0;
    left: 0;
}



/* Botões */

.login form #btnlogin, .login form #btnSing{
    background-color: #04A777;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.login .oulogin{
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.login .oulogin span{
    color: #767676;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login .oulogin span::before{
    content: '';
    background-color: #767676;
    width: 45%;
    height: 2px;
}
.login .oulogin span::after{
    content: '';
    background-color: #767676;
    width: 45%;
    height: 2px;
}

.login #btngoogle{
    background-color: #C03221;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/* MENSAGENS DE ERRO E DE SUCESSO */

.login form .erro{
    background-color: #d41e1eec;
    margin: 20px 0;
    padding: 5px;
    border: 2px solid #ffffff4f;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.login form .msg{
    background-color: #00b90f8c;
    margin: 20px 0;
    padding: 5px;
    border: 2px solid #aec0b24f;
    border-radius: 5px;
    color: white;
    text-align: center;
}
